.text-blue{color: var(--blue);}
.text-indigo{color: var(--indigo);}
.text-purple {color: var(--purple);}
.text-pink{color: var(--pink);}
.text-red{color: var(--red);}
.text-orange{color: var(--orange);}
.text-yellow{color: var(--yellow);}
.text-green{color: var(--green);}
.text-teal{color: var(--teal);}
.text-cyan{color: var(--cyan);}
.text-white{color: var(--white);}
.text-gray{color: var(--gray);}
.text-gray-dark{color: var(--gray-dark);}


.bg-blue{background-color: var(--blue);}
.bg-indigo{background-color: var(--indigo);}
.bg-purple {background-color: var(--purple);}
.bg-pink{background-color: var(--pink);}
.bg-red{background-color: var(--red);}
.bg-orange{background-color: var(--orange);}
.bg-yellow{background-color: var(--yellow);}
.bg-green{background-color: var(--green);}
.bg-teal{background-color: var(--teal);}
.bg-cyan{background-color: var(--cyan);}
.bg-white{background-color: var(--white);}
.bg-gray{background-color: var(--gray);}
.bg-gray-dark{background-color: var(--gray-dark);}

.border-blue{border-color: var(--blue);}
.border-indigo{border-color: var(--indigo);}
.border-purple {border-color: var(--purple);}
.border-pink{border-color: var(--pink);}
.border-red{border-color: var(--red);}
.border-orange{border-color: var(--orange);}
.border-yellow{border-color: var(--yellow);}
.border-green{border-color: var(--green);}
.border-teal{border-color: var(--teal);}
.border-cyan{border-color: var(--cyan);}
.border-white{border-color: var(--white);}
.border-gray{border-color: var(--gray);}
.border-gray-dark{border-color: var(--gray-dark);}



.material-icons.tiny {vertical-align: bottom;}
@media (min-width: 768px) {
	.card-columns {
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	.card-columns {
		column-count: 5;
	}
	
}

.material-icons {font-size: inherit !important}

body {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.modal {
  background-color: rgba(0,0,0,0.4); /* Transparent dimmed overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.col-count-2 {
	column-count: 2;
}

.modal.hidden {
  display: none;
}

.modal .container {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 width: 200px;
}
